<ng-container>
	<router-outlet></router-outlet>
</ng-container>
<!-- <full-calendar #calendar defaultView="dayGrid" [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }" eventLimit="true" [visibleRange]="{
                  start: '2019-09-20',
                  end: '2019-09-30'
                }" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents"
  (dateClick)="handleDateClick($event)" (eventClick)="eventClicked($event)"></full-calendar> -->

<!-- <p-card header="Simple Card">
  <p class="m-0">
    <img src="${imageUrl}" alt="${title}" />
    Lorem ipsum dolor sit amet...
  </p>
</p-card>

<p-card header="Simple Card">
  <p class="m-0">
    <img src="${imageUrl}" alt="${title}" />
  <div class="card-details">
    <h3 class="card-title">${title}</h3>
  </div>
  </p>
</p-card> -->