// // .fc .fc-daygrid-event {
// //     display: flex;
// //     align-items: center;
// //     justify-content: center;
// //     flex-direction: column;
// //     padding: 25px;
// //     --fc-event-bg-color: #302d2d !important;
// //     --fc-event-border-color: #fff !important;

// // }
// :host {
//     --fc-event-bg-color: #302d2d !important;
//     --fc-event-border-color: #302d2d !important;
// }

// ::ng-deep {
//     border: none !important;
//     .custom-card {
//         text-align: center;
//         margin-bottom: 5px;
//         background-color: #fff !important;
//         color: black !important;
//         border: none !important;
//         --fc-event-bg-color: #fff !important;
//         --fc-event-border-color: #fff !important;
//     }
// }

// // .card img {
// //     width: 50px;
// //     height: 50px;
// //     border-radius: 5px;
// // }

// // .card-title {
// //     margin-top: 5px;
// //     font-size: 12px;
// //     display: none;

// // }

// ::ng-deep {
//     --fc-event-text-color: #666 !important;

//     .fc .fc-timegrid-slot {
//         height: 13em !important; //auto
//         // width: 13em !important;
//     }

//     .card-image img {
//         width: 108px;
//         height: 140px;
//         padding: 09px 3px 3px 3px;
//         // border-radius: 50%;
//         // margin-bottom: 10px;
//     }
// }

// .fc .fc-daygrid-event {
//     display: block;
//     padding: 0;
// }

// .custom-card {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     background-color: #f9f9f9;
//     border: 1px solid #ddd;
//     border-radius: 5px;
//     padding: 10px;
//     margin-bottom: 10px;

//     height: 100%;
// }


// .card-image img {
//     width: 60px;
//     height: 60px;
//     border-radius: 50%;
//     margin-bottom: 10px;
// }

// .card-details {
//     text-align: center;
// }

// .card-title {
//     font-size: 14px;
//     margin: 0;
//     background-color: #666 !important;
// }

// .card-description {
//     font-size: 12px;
//     color: #666;
//     margin: 5px 0;
// }

// .card-button {
//     background-color: #007bff;
//     color: #fff;
//     border: none;
//     padding: 5px 10px;
//     border-radius: 3px;
//     cursor: pointer;
// }

// .card-button:hover {
//     background-color: #0056b3;
// }

.date-time,
.platfom-logo {
    background-color: #0000004D;
    color: #fff;
    border: 1px solid #fff;
    text-align: left;
    font-size: 12px;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

.event-slide-info {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    padding: 0 16px;

    .slide-instagram-logo {
        border: 1px solid #fff;
        border-radius: 6px;
        background-color: #0000004D;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        width: 52px;
    }
}

::ng-deep {

    .p-sidebar-right {
        width: 35%;
        border-top-left-radius: 16px 12px;
        border-bottom-left-radius: 12px 12px;
        border-top: 4px solid #2F6A62;
        background-color: #EAF0EF;
    }

    .p-card .p-card-content {
        padding-top: 0;
        padding-bottom: 0;

        .col {
            border-right: 1px solid #52837D;

            &:last-child {
                border-right: none;
            }
        }
    }

    .p-button.p-button-outlined {
        color: #F72585;
        width: 100%;
    }

    .performance-prediction {
        margin-top: 4px;

        .p-card {
            border-radius: 12px;
            background-color: #2F6A62;
            color: #fff;
        }

        .p-card .p-card-body {
            padding: 15px;
        }

        .p-card-content {
            padding: 0;
        }

        .prediction-label {
            font-size: 14px;
            font-weight: 400;
        }

        .prediction-value {
            font-size: 24px;
        }
    }

    table {
        border-radius: 18px;
        overflow: hidden;
    }

    .fc .fc-button {
        padding: 0.2em 0.3em;
    }

    .fc .fc-button-primary {
        background-color: #fff;
        border-color: #E6E6E9;
        color: #04091E;

        &:hover {
            background-color: #fff;
            border-color: #E6E6E9;
            color: #04091E;
        }
    }

    .fc-timegrid-slot {
        height: 210px !important;
        /* Adjust height as needed */

    }

    .fc-v-event {
        background-color: transparent;
        border: 0;
    }

    .fc-timegrid-event-harness-inset .fc-timegrid-event {
        box-shadow: none;
    }

    .fc {
        .today-date {
            font-size: 14px;
            margin: 0 0 4px;
        }

        .header-info {
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            gap: 18px;
        }

        .fc-col-header-cell-cushion {
            font-size: 14px;
            padding: 16px 12px;
        }

        .calender-header,
        .calender-desc {
            color: #04091E;
            font-size: 12px;
        }

        .calender-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .calender-card {
            padding: 8px;
            border: 1px solid #E6E6E9;
            border-radius: 8px;
            height: 100%;
        }

        .calender-image {
            width: 100%;
            height: 96px;
            border-radius: 8px;
            margin: 8px 0 4px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .calender-desc {
            margin: 0;
            height: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        p-card {
            height: 100%;
            display: block;
            padding: 20px 15px;
        }
    }

    .fc-col-header {
        tr {
            th {
                &:first-child {
                    border: 0;
                    vertical-align: top;
                    font-size: 12px;
                }
            }
        }
    }

    .fc-timegrid-slots {
        table {
            tr {
                td {
                    &:first-child {
                        border: 0;
                    }
                }
            }
        }
    }

    .fc-theme-standard .fc-scrollgrid {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        thead {
            tr {
                th {
                    table {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;

                        tr {
                            th {
                                &:first-child {
                                    background-color: #E6E6E9;
                                    border: 0;
                                    vertical-align: top;
                                }

                                &:nth-child(2) {
                                    border-top-left-radius: 12px;
                                    border-left: 1px solid #000;
                                }
                            }
                        }
                    }
                }
            }
        }

        tbody {
            table {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                tbody {
                    tr {
                        td:first-child {
                            background-color: #E6E6E9;
                            border: 0;
                            vertical-align: top;
                        }
                    }
                }
            }
        }

        .fc-col-header tr th:first-child {}
    }
}